{% extends 'base.html' %}

{% block content %}

<h1>Mushroom Details</h1>


<div class="card">
      <div class="card-content purple teal lighten-4">
        <span class="card-title">{{ mushroom.name }}</span>
        <p>name: {{ mushroom.name }}</p>
        <p>scientific_name: {{ mushroom.scientific_name }}</p>
        <p>Description: {{ mushroom.description }}</p>
        <p>season: {{ mushroom.season }}</p>
        <p>edibility: {{ mushroom.edibility }}</p>
      </div>
      <div class="card-action">
		<a href="{% url 'mushrooms_update' mushroom.id %}">Edit</a>
		<a href="{% url 'mushrooms_delete' mushroom.id %}">Delete</a>
	</div>
  </div>


{% endblock %}